*,
body,
html {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
  color: #444;
  margin: 40px;
}

h1 {
  margin: 20px 0 20px;
  font-size: 18px;
}

h2 {
  margin: 40px 0 20px;
  font-size: 16px;
}
.your-name {
  border-bottom: 1px dashed #999;
}
/* #your-widget {
  border: 2px solid #eee;
  padding: 10px;
  margin-top: 20px;
  background: #fff;
  color: #000;
} */
